<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Itinera_Feed" value="https://pkgs.dev.azure.com/CCIItinera/Itinera/_packaging/Itinera_Feed/nuget/v3/index.json" />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>